.booking-form-wrapper {
  font-size: 1rem;
  font-weight: 500;
}

.booking-form-wrapper .occasion {
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.booking-form input {
  padding: 12px;
  border: 1px solid rgba(51.51, 51, 0.3);
  border-radius: 4px;
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.booking-form select {
  padding: 12px;
  width: 100%;
  font-size: 1rem;
}

.booking-form .submit-button {
  display: block;
  width: 100%;
  padding: 20px;
  background-color: #f4ce14;
  color: #333;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-size: 1.2rem;
  margin-top: 20px;
}

.booking-form .submit-button:hover {
  background-color: #333;
  color: #f4ce14;
  cursor: pointer;
}

.booking-form .error {
  display: block;
  color: red;
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.booking-form .invalid {
  outline: 1px solid red;
}

.requiredSymbol {
  color: red;
}

@media screen and (max-width: 1165px) {
  .booking-form-wrapper {
    max-width: 100%;
  }

  .booking-form-wrapper input {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .booking-form-wrapper {
    max-width: 100%;
    padding: 1rem;
  }

  .booking-form label {
    font-size: 1rem;
  }

  .booking-form .action-button {
    padding: 0.5rem;
  }

  .booking-form-wrapper input {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .booking-form label {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 320px) {
  .booking-container {
    padding: 2vw;
  }

  .booking-form {
    padding: 3vw;
  }

  .booking-form h1 {
    font-size: 2em;
  }

  .booking-form p {
    font-size: 0.8em;
  }
}
