.booking-wrapper {
  background-image: linear-gradient(
      130deg,
      rgba(73, 174, 87, 0.5),
      rgba(244, 206, 20, 0.5)
    ),
    url("../../icons_assets/restaurant.jpg");
  width: 100%;
  background-size: cover;
}

.booking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding: 4rem;
}

.booking-form {
  width: 50%;
  background-color: #fff;
  color: #333333;
  border-radius: 2rem;
  padding: 32px 40px 48px;
  text-align: left;
}

.booking-form h1 {
  font-size: 48pt;
  margin-bottom: 8px;
}

.booking-form p {
  font-size: smaller;
  margin-bottom: 24px;
}

@media screen and (max-width: 1024px) {
  .booking-container {
    flex-direction: column;
    width: 80%;
  }

  .booking-form {
    width: 100%;
  }
}

@media screen and (max-width: 820px) {
  .booking-wrapper {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .booking-container {
    width: 100%;
    margin: 0;
  }
}
