.review-container {
  width: 100%;
  margin: 1rem auto;
  background: #495e57;
  padding: 1rem;
}

.review-wrapper {
  margin-top: 2rem;
}

.review-top {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.review-top-title {
  font-size: 4vw;
  font-family: "Markazi Text", serif;
  margin-top: 1rem;
  color: #fff;
  text-align: center;
}

.review-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 2rem;
}

@media screen and (max-width: 1024px) {
  .review-bottom {
    max-width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .review-container {
    margin-top: 20px;
  }

  .review-bottom {
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

  .review-top-title {
    font-size: 4rem;
  }
}
