.review-container {
  width: 100%;
  margin: 1rem auto;
  background: #495e57;
}

.review-wrapper {
  margin-top: 2rem;
}

.review-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.review-top-title {
  font-size: 80px;
  font-family: "Markazi Text", serif;
  margin-top: 1rem;
  color: #fff;
}

.review-bottom {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
  padding: 48px 0;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 1024px) {
  .review-bottom {
    max-width: 80%;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
  }
}

@media screen and (max-width: 800px) {
  .review-container {
    margin-top: 20px;
  }

  .review-bottom {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review-top-title {
    font-size: 64px;
  }
}

@media screen and (max-width: 400px) {
  .review-container {
    /* width: 100%; */
    margin-top: 20px;
  }

  .review-bottom {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .review-top-title {
    font-size: 64px;
  }
}
