.footer {
  background-color: #495e57;
  padding: 64px 0;
  width: 100%;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  color: lightgray;
}

.footer-container img {
  width: 80px;
}

.footer-des {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-des h5 {
  margin-bottom: 1rem;
  color: #fff;
}

.footer-des ul {
  padding: 0;
}

.footerlink {
  color: lightgray;
  left: 0;
}

.footerlink:hover {
  color: #fff;
  left: 0;
}

.copyright {
  text-align: center;
  margin-top: 48px;
  color: lightgray;
}

@media screen and (max-width: 1024px) {
  .footer-container {
    width: 100%;
  }

  .footer-des h5 {
    margin-bottom: 20px;
    font-size: smaller;
  }

  .footer-des ul {
    margin-bottom: 40px;
  }

  .footer-des ul li {
    font-size: smaller;
  }
}

@media screen and (max-width: 680px) {
  .footer-des {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-nav,
  .contact,
  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-container img {
    width: 120px;
    margin-top: -2rem;
  }

  .copyright {
    margin-top: 0px;
  }
}
