/* Global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f5f7;
  font-family: "Poppins", sans-serif;
  color: #333;
}

ul {
  list-style: none;
}

/* Header */

.header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin: 1em 5em;
}

.logo img {
  width: 100%;
  height: auto;
}

/* Header media queries */

@media (max-width: 1280px) {
  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1em auto;
  }
}

@media (max-width: 1280px) {
  .logo img {
    width: 75%;
    margin: 1rem;
  }
}

@media (max-width: 1280px) {
  .header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

/* Navigation */

.navigation {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin-top: 1em;
  margin-left: 5em;
  text-align: center;
  align-items: center;
}

.navigation li {
  display: inline-block;
  margin: 1em;
  color: #333;
}

.navlink {
  font-weight: 800;
  color: #333;
  text-decoration: none;
  list-style: none;
}

/* Navigation viewports */

@media (max-width: 1050px) {
  .navigation {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0;
  }
}
@media (min-width: 880px) {
  .navigation {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
  }
}

/* Main */

/* Hero */

.hero {
  display: flex;
  background-color: #495e57;
  width: 100%;
  height: 60vh;
  margin-top: 2em;
}

@media (max-width: 800px) {
  .hero {
    justify-content: center;
    height: auto;
    text-align: center;
  }
}

.hero-content {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-direction: column;
  width: 50%;
  margin-left: 8rem;
  margin-right: 4rem;
  padding: 2em;
}

@media (max-width: 800px) {
  .hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 2em;
  }
}

@media (max-width: 500px) {
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: 1rem;
    padding: 2rem;
  }
}

.hero-content p {
  font-size: 24px;
  color: #fff;
  width: 600px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

@media (max-width: 800px) {
  .hero-content p {
    text-align: center;
    width: 80%;
  }
}

.heroshot img {
  width: 60%;
  height: 520px;
  border-radius: 1rem;
  margin-top: 2em;
  margin-left: 4em;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

@media (min-width: 700px) and (max-width: 1050) {
  .heroshot img {
    margin-left: -2em;
    width: 60%;
  }
}

@media (max-width: 500px) {
  .heroshot img {
    display: none;
  }
}

.heroshot {
  width: 50%;
}

@media (max-width: 800px) {
  .heroshot {
    display: none;
  }
}

/* Headings and button */

h1 {
  font-size: 60px;
  font-weight: 700;
  color: #f4ce14;
}

h2 {
  font-size: 30px;
  color: #fff;
  margin-top: 0;
}

h3 {
  font-size: 60px;
  color: #000;
  margin: 1em;
}

@media (max-width: 800px) {
  h3 {
    font-size: 60px;
    margin-top: 1em;
    margin-left: 0;
    margin-right: 0;
  }
}

h4 {
  font-size: 60px;
  font-weight: 700;
  color: #000;
}

h5 {
  font-size: 30px;
  color: #000;
  margin-top: -2.5em;
}

#button {
  background-color: #f4ce14;
  color: #000;
  font-weight: 800;
  font-size: 18px;
  width: 60%;
  height: 3em;
  border-radius: 2rem;
  border: none;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

#button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 16px #fff;
  color: #fff;
}

@media (min-width: 700px) and (max-width: 1050) {
  #button {
    width: 100%;
  }
}

@media (max-width: 500px) {
  #button {
    width: 100%;
  }
}

/* Menu */

.specials {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 4rem;
}

@media (min-width: 800px) and (max-width: 1100) {
  .specials {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}

.specials-head {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: auto;
  margin-bottom: 8rem;
}

.card-img-top {
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin-bottom: 0;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.card {
  width: 100%;
  margin-top: -4em;
  margin-left: 2rem;
  margin-right: 2rem;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 3em;
  /* margin-top: 1em; */
}

.card-body {
  width: 100%;
  background-color: #f2efef;
  margin-right: 1em;
  padding: 1em;
  line-height: 1.8em;
  height: 250px;
  box-shadow: 5px 10px 20px #ccc;
}

.card-title {
  font-size: 35px;
  font-weight: 600;
}

.btn.btn-primary {
  font-weight: 500;
  font-size: 18px;
  border: none;
}

.title {
  width: 50%;
  height: auto;
  margin-right: 8em;
}

/* .title-button {
  width: 100%;
  height: auto;
  margin-top: 10.5em;
  margin-left: 15em;
} */

/* Testimonials */

.testimonial {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 70vh;
  background-color: #495e57;
  text-align: center;
  margin-top: 4rem;
  padding: 2rem;
}

.testimonial-header {
  width: 100%;
  color: #f4ce14;
}

.review-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
}
.review {
  width: 320px;
  height: 320px;
  background-color: #fff;
  margin-left: 2rem;
  margin-right: 2rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1050px) {
  .review p {
    margin: 1em;
  }
}

#profile {
  width: 40%;
  height: 40%;
  object-fit: cover;
  border-radius: 5rem;
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: 3px 3px 15px rgba(0, 0, 0, 0.2);
}

#rating {
  width: 50%;
}

.review h2 {
  font-size: 25px;
  color: #000;
  text-align: center;
  margin-top: 2rem;
}

/* About section */

.about {
  display: flex;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 3em 0;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

@media (max-width: 800px) {
  .about {
    flex-wrap: wrap;
  }
}

.about-content {
  width: 40%;
  margin-left: 7em;
  margin-right: 5em;
}

@media (max-width: 800px) {
  .about-content {
    width: 100%;
  }
}

.about-content h1 {
  color: #495e57;
}

.about-content p {
  font-size: 18px;
  line-height: 2rem;
  color: #333;
  margin-top: 1rem;
}

@media (max-width: 1050px) {
  .about-content p {
    font-size: 16px;
  }
}

.owner {
  width: 60%;
}

@media (max-width: 800px) {
  .owner {
    width: 100%;
    margin: 3em;
  }
}

#chefs {
  width: 50%;
  height: 60%;
  margin-top: 1rem;
  margin-left: 12rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

#interior {
  width: 50%;
  height: 60%;
  margin-top: -8rem;
  margin-left: 2rem;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

/* Footer */

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  height: auto;
  border-top: 10px groove #495e57;
}

@media (max-width: 800px) {
  .footer {
    flex-wrap: wrap;
    text-align: center;
  }
}

.footer img {
  width: 50%;
  margin: 0;
}

@media (max-width: 800px) {
  .footer img {
    width: 50%;
    margin: 0;
  }
}

.footer-logo {
  width: 20%;
  margin-right: 2em;
  margin-top: 7em;
}

.footer-nav {
  width: 20%;
  margin-right: 2em;
  margin-top: 7em;
}

.footer-contact {
  width: 20%;
  margin-right: 2em;
  margin-top: 7em;
}

.footer-socials {
  width: 20%;
  margin-right: 2em;
  margin-top: 7em;
}

@media (max-width: 800px) {
  .footer-logo,
  .footer-nav,
  .footer-contact,
  .footer-socials {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }
  .footer-logo {
    margin: 10px;
  }
}
